@charset "UTF-8"

/*
    em HTML é id = em CSS é # (somente em um elemento)
    em HTML é class = em CSS é . (permitido em vários elementos)
*/

body {
    background-color: aliceblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1 {
    color: darkblue;
}

h1#principal {
    text-align: center;
    background-color: darkblue;
    color: white;
}

h2 {
    color: cadetblue;
}

.basico{
color: rgb(176, 235, 86);
}

.intermediario {
color: rgb(74, 196, 233);
}

.avancado {
color: rgb(250, 57, 57);
}